@media only screen and (max-width: 780px) {
    main {
        flex-direction: column;
        height: initial;
        padding: 2rem;
    }

    .forms {
        align-self: initial;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 480px) {

    main {
        gap: 60px;
    }

    .logo-marca {
        height: 200px;
        width: 200px;
    }
}

 