:root {
    --blue-marine: #00C2CB;
    --white: #FFF;
    --gray-forms: #666666;
    --gray-signin: #E6E6E6;
    --black: #000;

    --text-color-h1: var(--blue-marine);
    --text-color: var(--white);
    --text-cinza-forms: var(--gray-forms);

    
}

   
* { 
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

body {
    background-color: var(--black);
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
    height: 100vh;
}

.logo-marca {
    width: 300px; 
    height: 300px;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
    max-width: 500px;
    align-self: flex-end;
}

h1 {
    color: var(--text-color-h1);
    margin-bottom: 2.5rem;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
}

.input-padrao {
    display: block;
    margin: 1rem 1rem;
    margin-top: .25rem;
    margin-bottom: .25rem;

    padding: .50rem 2rem;

    
    width: 100%;
    
    border: none;
    border-radius: 20px;

    outline: var(--blue-marine);
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

.input-padrao:root {
    box-shadow: 1px 2px 15px 1px var(--blue-marine);
}

.login-padrao {
    display: block;
    width: 100%;
    height: 35px;

    margin-left: .10rem;
    margin-top: 1rem;

    letter-spacing: 5px;
    
    border: none;
    border-radius: 20px;

    color: var(--text-color);
    background-color: var(--blue-marine);
    
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;

    transition: all 1ms;
    cursor: pointer;
}

.login-padrao:active {
    background-color: var(--gray-forms);
}

p, a {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
    margin-top: .50rem;
}

a:hover {
    color: var(--blue-marine);
}

.signup {
    display: block;
    color: var(--text-color);
    font-size: 12px;
    margin-top: 3rem;
}

.signup::after {
    content: ' ➡';
}
